body{
    background-image:url(PEAK.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:2500px;
}
h1{
    text-align: center;
    background-color: #2ea789;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: blue dotted 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    width: 250px;
    margin-bottom: 20px;
}
p{
    text-align: justify;
    font: italic;
    background-color: hsl(186, 12%, 27%);
    padding: 20px;
    border-top: black dotted 3px;
    border-bottom: black dashed 3px;
    border-right: black solid 3px;
    border-left: black double 3px;
    width: 500px;
}
span{
    font: bold;
    font: italic;
    color: rgb(255, 56, 71);
    margin-left: 2px;
    margin-right: 5px;
}